<mat-card>
    <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name"  [(ngModel)]="name" placeholder="name...">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" name="username" [(ngModel)]="username" placeholder="username...">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" name="email" [(ngModel)]="email" placeholder="email...">
        </mat-form-field>
        <br>
        <input type="submit" value="Submit">
    </form>
</mat-card>